<form>
  <div class="form-group">
    <label for="title">Listing Title</label>
    {{input value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="owner">Listing Owner</label>
    {{input value=owner id="owner"}}
  </div>
  <div class="form-group">
    <label for="body">Listing Body</label>
    {{input value=body id="body"}}
  </div>
  <div class="form-group">
    <label for="category">Listing Category</label>
    <select id="category">
      {{#each model as |category|}}
        <option value={{category.id}}>{{category.name}}</option>
      {{/each}}
    </select>
  </div>

  <!-- {{input type='hidden' value=current-date}} -->

  <button class="btn btn-primary" {{action "addListing"}}>Add Listing</button>
</form>

{{yield}}
